{% extends 'base.html.twig' %}

{% block title %}Page d'Index{% endblock %}

{% block body %}

    <div class="grid grid-cols-3 gap-4">
        <div class="grid-span-2 presentation-space">

        </div>
        <div class="img-presentation">
        
        </div>
    </div>

{% endblock %}
