<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        {# Title #}
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Default assets #}
        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        <script src="{{asset('build/app.js')}}"></script>
        {# Specific per template css #}
        {% block stylesheets %}
        {% endblock %}

        {# Specific per template js #}
        {% block javascripts %}
        {% endblock %}
    </head>

    {# Main container #}
    <body>
        {% block body %}{% endblock %}
    </body>

</html>
